body {
    background: rgb(61,127,171);
    background: radial-gradient(circle, rgba(61,127,171,1) 0%, rgba(61,176,227,0.9948354341736695) 55%, rgba(57,121,179,1) 100%);
    height: 100%;
}

@font-face {
    font-family: 'Mina Regular';
    src: url("fonts/Mina/Mina-Regular.ttf") format("truetype")
}

@font-face {
    font-family: 'Mina Bold';
    src: url("fonts/Mina/Mina-Bold.ttf") format("truetype")
}

.bans {
    font-family: 'Mina Bold';
    font-size: 2.8vw;
    text-indent: -1.45vw;
}

.Adelie {
    color: #2077B4;
}

.Chinstrap {
    color: #FB8139;
}

.Gentoo {
    color: #49A02D;
}

h5 {
    font-family: 'Mina Bold';
    margin-top: 1vw;
    margin-bottom: -1vw;
    text-align: center;
    white-space: nowrap;
    font-size: 1.8vw;
    color: #0C3E66;
}

.overlay {
    margin-top: 0.4vw;
    background-color: rgba(240, 255, 255, 0.4);
    border-radius: 25px;
    box-shadow: 2px 2.8px rgb(83, 83, 83);
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
    padding-top: 15px;
	background-color: rgba(54, 35, 196, 0.1);
	color:rgba(246, 245, 251, 0.2);
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px rgb(83, 83, 83);
}

.btn-floating:focus {
    outline: none;
    box-shadow: 2px 2px 3px rgb(83, 83, 83);
}

.form-label {
    margin-top: 15px;
}

h6 {
    font-weight: bold;
}

.offcanvas-title {
    text-shadow: 0px 1.2px rgb(83, 83, 83);
    margin-bottom: -10px;
}

#apply, #apply-fig {
    border-radius: 10px;
    margin-top: 25px;
}

.Select-control {
    border-radius: 10px;
}

footer { /* Plotly Footer */
    display: none;
}

#footer {
    height: 24px;
    text-align: center;
    background-color: #0C3E66;
    color: aliceblue;
    width:100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
}

#footer a, #footer a:visited {
    text-decoration: none;
    color:rgba(102, 193, 243, 0.778);
}

#footer a:hover {
    color: rgba(160, 253, 205, 0.899);
}